<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
  <!-- 查询用户(Select) -->
  <select id="getUser" parameterType="String" resultType="com.xumilk.model.User">
    select * from xu_user where user_name = #{userName}
  </select>
  <!-- 创建用户(Create) -->
  <insert id="addUser" parameterType="com.xumilk.model.User">
    insert into xu_user (user_name,password) values(#{userName},#{password})
  </insert>
</mapper>
